body {
  background-color: white;
  overflow-x:hidden;
}
header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

header.whiteBG {
  width: 100%;
}
header .wrap {
  color: white;
  align-items: center;
  padding-bottom: 50px;
  width: 100%;
}
header .wrap>a{
  
  position: relative;
  left: 88px;
}
header.whiteBG .wrap{
  background-color:white;
}
header .wrap h1 {
  font-size: 0;
}
header .wrap h1::after {
  content: '';
  width: 134px;
  height: 25px;
  background-image: url(../img/logo_white.svg);
  background-repeat: no-repeat;
  background-size: 77%;
  display: block;
}
header.whiteBG .wrap h1::after{
    background-image: url(../img/logo.svg);
} 
header .wrap ul.menu {
  padding-left: 418px;
  align-items: center;
}
header .wrap ul.menu li {
  padding-right: 90px;
}
header .wrap ul.menu li select {
  border-radius: 30px;
  padding: 10px 22px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
  font-weight: bold;
}

header .wrap ul.menu li a {
  color: white;
}
header .wrap ul.menu li a:hover {
  color: #2c7dd6;
}
header .wrap ul.menu li a.color_black {
  color: black;
}

header .wrap ul.menu li a.color_black:hover {
  color: grey;
}
header .wrap ul.menu li:nth-child(6) a {
  width: 31px;
  height: 7px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  display: block;
}
header .wrap ul.menu li:nth-child(6) a:hover {
  width: 31px;
  height: 7px;
  border-bottom: 2px solid #2c7dd6;
  border-top: 2px solid #2c7dd6;
  display: block;
}
header .wrap ul.lang {
}
header .wrap ul.lang li {
}
header .wrap ul.lang li select {
}
header .wrap ul.lang li select option {
}
header .wrap ul.lang a {
}
