section#p1 {
  height: 175vh;
  min-height: 600px;

  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
}

section#p1 .p1_T{
}

section#p1 .wrap h2{
  padding-top: 250px;
  box-sizing: border-box;
  line-height: 109px;
  animation-name: text_left_slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  opacity: 0;
}
@keyframes text_left_slide{
  0%{
    transform: translatey(0);
    opacity: 1;
  }
  100%{
    transform:translatey(30%);
  }
}
section#p1 .p1_T h2 span.color{
color:#00738d;
}



section#p1 .p1_M{
  justify-content: right;
  text-align: right;
  padding-right: 180px;
  box-sizing: border-box;
  padding-top: 327px;
  position: relative;
  background-image: url(../img/page1.jpg);
}

section#p1 .p1_M p{
  line-height: 35px;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  opacity: 0;
}

section#p1 .p1_M p.text_show{
    animation-name: text_slide;
}
@keyframes text_slide{
  0%{
    transform: translateX(0%);
    opacity: 1;
  }
  100%{
    transform: translateX(-30%);
  }
}
section#p1 .p1_M h3{
  font-size: 181px;
  position: absolute;
  bottom: -147px;
  left: 106px;
  color: #97c6d1;
  animation-name: text_bottom-slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  opacity: 0;
  font-weight: 400;
}
@keyframes text_bottom-slide{
  0%{
    opacity: 1;
    transform: translatex(0);
  }
  100%{
    transform: translatex(30%);
  }
}
section#p1 .p1_M h3.slide_right{
  animation-name:text_slide_right; 
  opacity: 0.8;
    
}
@keyframes text_slide_right{
  0%{
    transform: translatex(20%);
  }
  100%{
    transform: translatex(0%);
  }
}

section#p1 .p1_M h3.slide_double_right{
  opacity: 0.8;
  animation-name:slide_double_right;
}
@keyframes slide_double_right{
   0%{
    transform: translatex(50%);
  }
  100%{
    transform: translatex(0%);
  }
}
section#p1 .p1_B{
  
  font-size: 160px;
  color: #b5d7de;
  position: absolute;
  left: 18%;
  bottom: 76%;
}
section#p1 .p1_B h3{
  
}
section#p1 ul{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  padding-top: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right,#e6f5fa,#fff,#e6f5fa);
}

section#p1 ul li{
}
section#p1 ul li a{
  height: 600px;
  border: 1px solid #e5f1f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
section#p1 ul li:not(:first-child) a:hover{
animation-name: bdoor;
animation-duration: 1s;
animation-timing-function: ease-in;
animation-fill-mode: forwards;

}
@keyframes bdoor{
  0%{opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
section#p1 ul li:nth-child(2) a::after{
  content:"";
  background-image: url(../img/arrow.svg);
  width: 20px;
  height: 20px;
  display: block;
  transform: translatex(81px) translateY(-167px);
  background-size: 80%;
  background-repeat: no-repeat;
}
section#p1 ul li:nth-child(3) a::after{
  content:"";
  background-image: url(../img/arrow.svg);
  width: 20px;
  height: 20px;
  display: block;
  transform: translatex(111px) translateY(-167px);
  background-size: 80%;
  background-repeat: no-repeat;
}

section#p1 ul li a:hover{
color:white;
text-align: center;
width: 100%;
}

section#p1 ul li:nth-child(2) a:hover{
background-image: url(../img/page2.jpg);
background-repeat: no-repeat;
}

section#p1 ul li:nth-child(3) a:hover{
background-image: url(../img/page3.jpg);  
background-repeat: no-repeat;
width: 904px;
}

section#p1 ul li:nth-child(1){
  grid-column: 1 / span 2;
  grid-row: 1;
}
section#p1 ul li:nth-child(2){
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}
section#p1 ul li:nth-child(3){ 
  grid-column: 2;
  grid-row: 2;
}

section#p1 ul li a p{
  color: transparent;
  padding-top: 50px;
  box-sizing: border-box;
  line-height: 1.6;
}

section#p1 ul li a:hover p{
  color:white;
  animation-name: h_txt;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}
@keyframes h_txt{
  0%{
    opacity: 1;
    transform:translatey(0%);
  }
  100%{
    option:0;
    transform: translateY(40%);
  }
}